<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ListStudentController</servlet-name>
        <servlet-class>controller.ListStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchStudentByNameController</servlet-name>
        <servlet-class>controller.SearchStudentByNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStudentController</servlet-name>
        <servlet-class>controller.DeleteStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditStudentController</servlet-name>
        <servlet-class>controller.EditStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudentController</servlet-name>
        <servlet-class>controller.CreateStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDummyController</servlet-name>
        <servlet-class>controller.ListDummyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvanceSearchStudentController</servlet-name>
        <servlet-class>controller.AdvanceSearchStudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ListStudentController</servlet-name>
        <url-pattern>/student/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchStudentByNameController</servlet-name>
        <url-pattern>/student/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStudentController</servlet-name>
        <url-pattern>/student/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditStudentController</servlet-name>
        <url-pattern>/student/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudentController</servlet-name>
        <url-pattern>/student/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDummyController</servlet-name>
        <url-pattern>/dummy/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvanceSearchStudentController</servlet-name>
        <url-pattern>/student/filter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/Error404.html</location>
    </error-page>
</web-app>
